
    #header-top{
        font-size: 18px;
        height: 35px;
        left: 0;
        line-height: 35px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999;
    }
    
    .div-menu-logo a {
        border-left: 1px solid #ccc;
        color: #333;
        display: inline-block;
        float: left;
        text-align: center;
        width: 30px;
    }

    .menu-main-trigger img{
        height: 20px;
        line-height:35px;
    }

    .nav-logo {
        display: inline-block;
        line-height: 30px;
        padding-left: 10px;
    }

    .nav-logo img {
        line-height: 35px;
        margin-top: 2px;
        overflow: hidden;
        height: 35px;
        width: auto;
    }

    .navbar .nabar-fixed-top .cf{
        border-width:0 0 1px;
        top: 0;
    }

    .navbar-fixed-top{     
        border-width:0 0 1px;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1030;
    }

    .navbar{
        position: relative;
        height:35px;
        line-height: 35px;
        min-height: 35px;
        background-color: rgba(255,255,255,0.7) !important;
        border-color: #080808; 
        border-bottom: 1px solid #ccc;
    }

    .navbar ul{
        display: inline-block;
        float: left;

        margin: 0px;
        padding: 0px;
        padding-left: 20px;
    }

    .navbar ul li{
        border-right-width: 1px;
        float: left;
        list-style: none;
        margin: 0px 20px 0px 0px;
    }

    .menu-main-trigger {
        height:35px;
        line-height: 35px;
    }

    .menu-main-trigger img{
        margin-top:7px;
    }