
    #header-top{
        font-size: 18px;
        height: 40px;
        left: 0;
        line-height: 40px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999;
        box-shadow:1px 0px 8px 1px rgba(20%,20%,40%,0.3);
    }
    .div-menu-logo a {
        border-left: 1px solid #ccc;
        color: #333;
        display: inline-block;
        float: left;
        text-align: center;
        width: 40px;
    }
    #div-nav-center{
        position: absolute;
        line-height: 40px;
        height:40px;
        margin: 0px;
        margin-left: 10px;
        padding: 0px;

    }
   
    #div-nav-center a{
        vertical-align : middle;
        font-style: italic;
        display: inline-block;
        line-height: 40px;
        height:40px;
        margin: 0px;
        padding: 0px;
    }

    #div-nav-center span{
        vertical-align : middle;
        font-style: italic;
        display: inline-block;
        line-height: 40px;
        height:40px;
        margin: 0px;
        padding: 0px;
        padding-top: 1px;
    }

    .menu-main-trigger img{
        height: 40px;
        line-height:40px;
    }

    .nav-logo {
        display: inline-block;
        line-height: 40px;
        width: auto;
        //padding-left: 15px;
    }

    .nav-logo img {
        line-height: 40px;
        overflow: hidden;
        height: 40px;
        width: auto;
    }

    .navbar .nabar-fixed-top .cf{
        border-width:0 0 1px;
        top: 0;
    }

    .navbar-fixed-top{     
        border-width:0 0 1px;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1030;
    }

    .navbar{
        position: relative;
        height:40px;
        line-height: 40px;
        min-height: 40px;
        background-color: rgba(255,255,255,0.7) !important;
        border-color: #080808; 
        border-bottom: 1px solid #ccc;
    }

    .navbar ul{
        display: inline-block;
        float: left;
        margin: 0px;
        padding: 0px;
        padding-left: 20px;
    }

    .navbar ul li{
        border-right-width: 1px;
        float: left;
        list-style: none;
        margin: 0px 20px 0px 0px;
    }

    .menu-main-trigger {
        height:40px;
        line-height: 40px;
    }

    .menu-main-trigger img{
        margin-top:7px;
    }