    *{
        margin: 0px;
        padding: 0px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    a{
        background: transparent;
    }
    a:link, a:visited {
        color: #333;
        text-decoration: none;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }

    body{
        background-color: #ffffff;
        color: #333333;
        font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
        height: 100%;
        padding: 0;
        min-width: 600px;
    }

    header{
        display: block;
    }

    hr{
        border: 0px;
        border-top: 1px solid #eeeeee;
        display: block;
        height: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
        width:1013px;
    }

    li {
        display: list-item;
        text-align: -webkit-match-parent;
    }

    nav {
        display: block;
    }

    ul ,ol{
        display: block;
        margin-top: 0;
    }

    ul{
        list-style-type: disc;
    }

    #gotop {
        background: rgba(80%,80%,80%,0.8);
        bottom: 25px;
        border-radius: 5px;
        cursor: pointer;
        color: white;
        display: none;
        font-size: 15px;
        font-weight: 400;
        line-height: 50px;
        height:50px;
        width:50px;
        border-radius: 50px;
        //padding-top: 4px;
        position: fixed;
        right: 35px;
        text-align: center;
        z-index: 400;
    }
    #div-loading {
        left: 0;
        top: 0;
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 9999;
        background: rgba(256, 256, 256, 0.98);
    }

    #loading{
        position: fixed;
        width:200px;
        height:200px;
        top: 50%;
        left: 50%;
        text-align: center;
        margin-top: -140px;
        margin-left: -100px;
    }

    #loading img{
        height:200px;
        width:200px;
    }
    #menu-main{
        display: none;
    }

    #menu-main .fb-like{
        align-self: center;
        margin-top: 10px;
    }
    .primary-nav {
        background: rgba(256, 256, 256, 0.98);
        height: 100%;
        left: 0;
        overflow: auto;
        padding: 80px 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 998;
    }

    .primary-nav a {
        border-radius: 0.25em;
    }

    .button-group ul, .button-group ul li {
        margin: 0;
        padding: 0;
    }
    .button-group ul li {
        list-style: none;
    }

    .button-group .button, .button-group ul li a {
        font-weight: 300;
        font-size: 16px;
        background: none;
        border: none;
        border-top: 1px solid #ededed;
        color: #333;
        display: block !important;
        margin: 0 auto;
        padding: 1em 0;
        text-align: left;
        width: 100%;
    }

    .button-group button.last, .button-group ul.main-nav li:last-child {
        border-bottom: 1px solid #ededed;
    }

    .main-navigation {
        margin: auto;
        margin-top:5%;
        width: 552px;
        min-width:468px;
        text-align: center;
    }

    .main-nav {
        margin-top: 3em !important;
    }

    @media screen and (max-width: 992px){
       .main-nav a span{
            font-size: 18px;
       }
       .main-nav{
            padding-left: 30px !important;
            padding-right: 30px !important;
       }
    }

    .content{
        margin:0px auto;
        margin-top: 50px;
        //margin-bottom: 50px;
        text-align: center;
        max-width: 1013px;
    }
    @media screen and (max-width:992px){
        .content{
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    .content p {
        font-size: 14px;
        line-height: 26px;
        margin: 0px auto;
        padding: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: left;
    }

    .img-type-w{
        width: 100%;
        //height: 676px;
    }
    .img-type-f{
        width:100%;
        //height:676px;
    }


    /*
    .footer{
        background: #FFFFFF;
        display: block;
        margin:15px 5px;
        margin-bottom:7px;
        width: 100%;
    }
    */

    .list-inline{
        list-style: none;
        margin-top: 0;
        margin-right: 50px;
        padding-left: 0;
    }

    .list-inline > li:first-child {
         padding-left: 0;
    }

    .list-inline > li {
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;
    }



    .menu-inline {
        margin-top: 3em !important;
        text-align: center;
    }

    @media screen and (max-width:992px){
        .main-inline{
            margin-top:5em !important;
        }
    }

    .menu-inline li {
        display: inline-block;
        width: 30%;
    }

    .menu-inline li a {
        border: none !important;
        text-align: center !important;
    }
    .menu-inline li img{
        width: 30px;
    }

    footer{
        padding:20px;
        background-color: #fff;
        float: left;
        //margin-top:10px;
        width: 100%;
        height: 100px;
        //border-top: 1px solid #ededed;
        font-size: 10px;
        line-height: 65px;
        letter-spacing: .05em;
        z-index: 300;
        position: relative;
        left:0px;
        right:0px;
        bottom:0px;
    }
    footer p{
        text-align: center;
        color: black;
        font-weight: 300;
        font-size: 18px;
        letter-spacing: 1px;
    }

    #content-head-img{
        margin:0px;
        margin-top: 80px;
        padding:0px;
    }

    .content-title p{
        line-height: 21px;
    }

    #content-main-s{
        padding-top: 80px;
        margin: 0px auto;
        width:100%;
    }
    .in-content-main{
        margin: 0px auto;
        width:100%;
        border:1px;
        height:500px;
        text-align:left;
        border-style: solid;
        border:1px;
        border-color:black;
        line-height: 500px;
        font-size: 50px;
        color: #ebebeb;
        letter-spacing: 2px;
        --text-decoration: underline;
    }
    .in-content-main a{
        color:#ebebeb;
    }
    .in-content-main a p{
        padding-left: 20px;
    }

    #in-content-main-000{
        background-image: url('../img/pics/000/000-cover.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    #in-content-main-001{
         background-image: url('../img/pics/fukakusa/banner.jpg');
         background-repeat: no-repeat;
         background-size: cover;
    }

    #in-content-main-002{
         background-image: url('../img/pics/002.jpg');
         background-repeat: no-repeat;
         background-size: cover;
    }

    #in-content-main-003{
         background-image: url('../img/pics/cheers/banner.jpg');
         background-repeat: no-repeat;
         background-size: cover;
    }

    #in-content-main-004{
        background-image: url('../img/pics/004/004.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    #in-content-main-005{
        background-image: url('../img/pics/005/005.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    #in-content-main-006{
        background-image: url('../img/pics/006/006.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    #in-content-main-007{
        background-image: url('../img/pics/007/007.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    #in-content-main-008{
        background-image: url('../img/pics/008/008.jpg');
        background-repeat: no-repeat;
        background-size: cover;　
    }
    #in-content-main-010{
        background-image: url('../img/pics/010/010-cover.jpg');
        background-repeat: no-repeat;
        background-size: cover;　
    }
    #in-content-main-000,#in-content-main-001,#in-content-main-002,#in-content-main-003,#in-content-main-004,#in-content-main-005
    ,#in-content-main-006,#in-content-main-007,#in-content-main-008,#in-content-main-010{
         -webkit-filter: grayscale(100%);
         -moz-filter: grayscale(100%);
         -ms-filter: grayscale(100%);
         -o-filter: grayscale(100%);
         filter: grayscale(100%);
         filter: gray;
        transition: filter 1s linear; /* vendorless fallback */
        -o-transition: filter 1s linear; /* opera */
        -ms-transition: filter 1s linear; /* IE 10 */
        -moz-transition: filter 1s linear; /* Firefox */
        -webkit-transition: filter 1s linear; /*safari and chrome */
    }
    @media screen and (max-width: 992px){
        #in-content-main-000,#in-content-main-001,#in-content-main-002,#in-content-main-003,#in-content-main-004,#in-content-main-005
        ,#in-content-main-006,#in-content-main-007,#in-content-main-008,#in-content-main-010{
             -webkit-filter: grayscale(0%);
             -moz-filter: grayscale(0%);
             -ms-filter: grayscale(0%);
             -o-filter: grayscale(0%);
             filter: grayscale(0%);
             filter: gray;
            transition: filter 1s linear; /* vendorless fallback */
            -o-transition: filter 1s linear; /* opera */
            -ms-transition: filter 1s linear; /* IE 10 */
            -moz-transition: filter 1s linear; /* Firefox */
            -webkit-transition: filter 1s linear; /*safari and chrome */
        }
    }
    .grayscale {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
        filter: gray;
    }

    #main-content{
        margin-top: 50px;
        margin-bottom: 10px;
    }

    .font-b{
        font-weight: 500;
        padding-top :5px;
        padding-bottom: 5px !important;
        margin-bottom: 0px;
        font-size: 18px !important;
    }

    #in-content-main-000:hover, #in-content-main-001:hover, #in-content-main-002:hover
    , #in-content-main-003:hover,#in-content-main-004:hover,#in-content-main-005:hover,#in-content-main-006:hover
    ,#in-content-main-007:hover,#in-content-main-008:hover,#in-content-main-010:hover   {
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        -ms-filter: grayscale(0%);
        -o-filter: grayscale(0%);
        filter: grayscale(0%);
        filter: gray;
    }
    @media screen and (max-width: 992px){
        #in-content-main-000:hover, #in-content-main-001:hover, #in-content-main-002:hover
        , #in-content-main-003:hover,#in-content-main-004:hover,#in-content-main-005:hover,#in-content-main-006:hover
        ,#in-content-main-007:hover,#in-content-main-008:hover,#in-content-main-010:hover  {

        }
    }

    @keyframes ai1{
        from{
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            filter: grayscale(100%);
            filter: gray;
        }
        to{
            -webkit-filter: grayscale(0%);
            -moz-filter: grayscale(0%);
            -ms-filter: grayscale(0%);
            -o-filter: grayscale(0%);
            filter: grayscale(0%);
            filter: gray;
        }
    }

#container {
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  margin-top: -31px;
  margin-left: -31px;
}

.block {
  display: inline-block;
  background-color: black;
  width: 20px;
  height: 20px;
}

.s0 {
  animation: shine 2s -0.5s infinite;
}

.s1 {
  animation: shine 2s -1s infinite;
}

.s2 {
  animation: shine 2s -0.5s infinite;
}

.s3 {
  animation: shine 2s -1s infinite;
}

.s4 {
  animation: shine 2s -0.5s infinite;
}

.s5 {
  animation: shine 2s -1s infinite;
}

.s6 {
  animation: shine 2s -0.5s infinite;
}

.s7 {
  animation: shine 2s -1s infinite;
}

.s8 {
  animation: shine 2s -0.5s infinite;
}

@keyframes shine {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
