    a{
        background: transparent;
    }

    a:link, a:visited {
        color: #333;
        text-decoration: none;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }

    body{
        background-color: #ffffff;
        color: #333333;
        //font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
        font-family: "Athelas","Baskerville","Big Caslon Medium","Bodoni 72 Oldstyle";
        height: 100%;
        margin: 0;
        padding: 0;           
    }

    header{
        display: block;
    }

    hr{
        border: 0px;
        border-top: 1px solid #eeeeee;
        display: block;
        height: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
        width:1013px;
    }

    li {
        display: list-item;
        text-align: -webkit-match-parent;
    }

    nav {
        display: block;
    }

    ul ,ol{
        display: block;
        margin-top: 0;
    }

    ul{
        list-style-type: disc;   
    }

    #gotop {
        background: #777;
        bottom: 20px; 
        border-radius: 5px;
        cursor: pointer;
        color: white;
        display: none;
        font-size: 15px;
        height:20px;
        line-height: 23px;
        padding: 2px 20px;
        padding-top: 4px;
        position: fixed;
        right: 25px;
        text-align: center;
        z-index: 400;
    }
    
    #div-loading {
        left: 0;
        position: fixed;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 9999;
        background: rgba(256, 256, 256, 0.98);
    }
    
    #loading {
        position: fixed;
        width:200px;
        height:200px;
        top: 50%;
        left: 50%;
        text-align: center;
        margin-top: -140px;
        margin-left: -100px;
    }

    #loading img {
        height:200px;
        width:200px;
    }

    #menu-main{
        display: none;
    }
    
    .button-group ul, .button-group ul li {
        margin: 0;
        padding: 0;
    }
    .button-group ul li {
        list-style: none;
    }    

    .button-group .button, .button-group ul li a {
        font-weight: normal;
        font-size: 14px;
        background: none;
        border: none;
        border-top: 1px solid #ededed;
        color: #333;
        display: block !important;
        margin: 0 auto;
        padding: 1em 0;
        text-align: left;
        width: 100%;
    }

    .button-group button.last, .button-group ul.main-nav li:last-child {
        border-bottom: 1px solid #ededed;
    }

    .content{
        margin:0px auto;
        margin-top: 50px;
        margin-bottom: 30px;
        text-align: center;
        width: 1013px;
    }

    .content p { 
        font-size: 14px;
        line-height: 26px;
        margin: 0px auto;
        padding: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: left;
    }

    .img-type-w{
        width: 100%;
        height: 676px;
    }
    .img-type-f{
        width:100%;
        //height:676px;
    }
    .img-type-h{
        
    }

    .primary-nav {
        background: rgba(256, 256, 256, 0.98);
        height: 100%;
        left: 0;
        overflow: auto;
        padding: 80px 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 998;
    }

    .primary-nav a {
        border-radius: 0.25em;
    }
        
    /*
    .footer{
        background: #FFFFFF;
        display: block;
        margin:15px 5px;
        margin-bottom:7px;
        width: 100%;              
    }
    */

    .list-inline{
        list-style: none;
        margin-top: 0;
        margin-right: 50px;
        padding-left: 0;
    }

    .list-inline > li:first-child {
         padding-left: 0;
    }

    .list-inline > li {
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;
    }

    .main-navigation {
        margin: auto;
        margin-top:5%;
        width: 552px;
    }
    
    .main-nav {
        margin-top: 3em !important;
    }

    .menu-inline {
        margin-top: 3em !important;
        text-align: center;
    }

    .menu-inline li {
        display: inline-block;
        width: 30%;      
    }

    .menu-inline li a {
        border: none !important;
        text-align: center !important;
    }
    .menu-inline li img{
        width: 30px;
    }
        
    /*
    .pull-right{
        float: right;
    }  
    */

    .title-content{
        font-weight: 300;
        font-size: 33px;
        line-height: 1.1;
        margin-top: 15%;
        margin-bottom: 6%;
        text-align: left;
    }
    
    .fa-3x {
        font-size: 3em;
    }

    .fa {
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    footer{
        background-color: #fff;
        float: left;
        width: 100%;
        height: 65px;
        border-top: 1px solid #ededed;
        bottom: 0px;
        left: 0px;
        //text-transform: uppercase;
        font-size: 10px;
        line-height: 15px;
        letter-spacing: .05em;
        z-index: 300;
        position: relative;
    }
    footer li, footer address{
        display: inline-block;
        margin: 0 10px;
        
    }
    footer li span{
        //color: #67c6b6;
        color: #000000;
        font-weight: bold;
        margin-right: 7px;
        text-decoration:none;
    }
    footer a,footer address{
        text-decoration:underline !important;
        color: black;
        font-weight: 700;
    }
    footer p{
        margin:0px;
        padding:0px;
        color: black;
        font-weight: 700;
    }
    footer address{
        margin:0px;
        font-style:normal;
    }

    #div-footer-nav{
        text-align: center;
        width: 100%;
        margin-top: 25px;
        float: left;
        //padding: 0 100px 0 180px;
    }

    #div-footer-nav ul{
        list-style: none;
        line-height: 21px;
    }
    #content-head-img{
        margin:0px;
        margin-top: 80px;
        padding:0px;
    }
    #content-title p{
        line-height: 21px;
    }

